<h2>Login</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :email, "E-mail" %><br />
  <%= f.email_field :email, :class => 'text' %></p>

  <p><%= f.label :password, "Senha" %><br />
  <%= f.password_field :password, :class => 'text' %></p>

  <p>
		<%= content_tag(:button, image_tag('/images/icons/tick.png') + "Login", {:class => "positive", :type => 'submit'}) %>
		<%= link_to(image_tag('/images/icons/key.png') + "Esqueceu sua senha?", new_password_path(resource_name), {:class => "button"}) %>
	</p>

<% end %>